* {
	font-size: 52px;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
#at-plus-container {
	display: block;
	width: 500px;
	height: 500px;
	margin: 307px auto 23px auto;
}

#bottom-positioner {
	position: relative;
}
#button {
	position: absolute;
}
#info-bar {
	position: absolute;
	width: 300px;
	height: 300px;
	background-color: rgba(159, 161, 155, 1);
	border-radius: 50%;
	left: 84px;
	top: 228px;
	transform: scale(0.001);
	transition-duration: 1s;
	transition-delay:0.7s;
}
.sum {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 118px;
	top: 123px;
}
#button:hover #info-bar {
	transform: scale(1);
	transition-duration: 1s;
	transition-delay:0s;
	transform: translateX(14px) translateY(-236px);
}
#control-ring-container {
	position: absolute;
	left: 198px;
	top: 353px;
}

#button:hover #control-ring-container {
	transform: scale(1);

}
#control-ring-container .button {
	text-align: center;
	line-height: 50px;
	list-style: none;
	position: absolute;
	background-color: rgba(48, 63, 159, 1);
	border-radius: 50%;
	left: 12px;
	top: 14px;
}
#control-ring-container #A {
	width: 50px;
	height: 50px;
	transform: scale(0.001);
	transition-duration: 1s;
	transition-delay:0.7s;
}

#control-ring-container #B {
	width: 50px;
	height: 50px;
	transform: scale(0.001);
	transition-duration: 1s;
	transition-delay:0.7s;
}
#control-ring-container #C {
	width: 50px;
	height: 50px;
	transform: scale(0.001);
	transition-duration: 1s;
	transition-delay:0.7s;
}
#control-ring-container #D {
	width: 50px;
	height: 50px;
	transform: scale(0.001);
	transition-duration: 1s;
	transition-delay:0.7s;
}
#control-ring-container #E {
	width: 50px;
	height: 50px;
	transform: scale(0.001);
	transition-duration: 1s;
	transition-delay:0.7s;
}
#apb {
	position: absolute;
	top: 353px;
	left: 198px;
	width: 70px;
	height: 70px;
	background-color: rgba(167, 137, 201, 1);
	border-radius: 50%;
	transform: scale(0.5);
	transition-duration: 0.5s;
	transition-delay:1s;
}

#apb .icon{
	position: absolute;
	top: 0px;
	left: 0px;
}
.icon span {
	font-size: 35px;
}
#control-ring span {
	position: absolute;
	left: 37px;
	top: -7px;
	font-size: 20px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border-radius: 50%;
	background-color: red;
}

#button:hover #apb{
	transform: scale(1.04);
	background-color: rgba(48, 63, 159, 1);
	transition-duration: 0.5s;
	transition-delay:0s;
}

#button:hover #A {
	transform: scale(1);
	transition-duration: 1s;
	transition-delay:0s;
	transform: translateX(-88px) translateY(-76px);
}
#button:hover #B {
	transform: scale(1);
	transition-duration: 1s;
	transition-delay:0s;
	transform: translateX(-114px) translateY(0px);

}
#button:hover #C {
	transform: scale(1);
	transition-duration: 1s;
	transition-delay:0s;
	transform: translateX(-86px) translateY(71px);

}
#button:hover #D {
	transform: scale(1);
	transition-duration: 1s;
	transition-delay:0s;
	transform: translateX(-25px) translateY(111px);

}
#button:hover #E {
	transform: scale(1);
	transition-duration: 1s;
	transition-delay:0s;
	transform: translateX(58px) translateY(102px);

}

